@import '~nativescript-theme-core/scss/light';

@import './styles/custom.css';

.icon {
  font-family: 'Material-Design-Iconic-Font';
  font-size: 32;
}

label.sidedrawer-header {
  color: #ffffff;
  padding: 50 16 16 16;
  font-size: 24;
}

.action-bar label {
  vertical-align: center;
  color: #ffffff;
}

.action-bar label.icon {
  padding-right: 20;
}

.action-bar label.title {
  font-size: 16;
}

.list-group-item, .sidedrawer-list-item {
  padding: 10 20;
}
